@import "./index.scss";

.header {
  position: fixed;
  width: 100vw;
  box-shadow: 8px 8px 24px -3px rgba(66, 68, 90, 1);
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0 0 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-content: space-between;

}

.ScrollOff {
    color:#ffffff;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.735) 0%, rgba(53, 44, 44, 0.674) 100%);
    transition: 0.5s;
}

.ScrollOn {
    color:#111010;
    background-color: white;
    transition: 0.5s;
    opacity: 1;
    z-index: 100;
}
.header img {
    height: 80px;
    margin-left: 10vw;
    background-color: rgba(255, 255, 255, 0.277);
    border-radius: 10%;    
}
.header ul {
  gap: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  width: 75%;
 
}


li a, .dropbtn {
  display: inline-block;
  text-shadow: 7px 0px 23px rgba(66, 68, 90, 1);
  background-color: rgba(127, 255, 212, 0.314);
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
}


li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown_content {
  color: yellow;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown_content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown_content {
  display: block;
}