@import "./index.scss";

.header {
  position: fixed;
  width: 100vw;
  @include box-shadow();
  font-size: 1rem;
  font-weight: bold;
  color: $blue-color;
  border-radius: 0 0 2em;
  @include d-flex-row();
  justify-content: space-between;
   background: linear-gradient(to bottom, rgba(255, 255, 255, 0.735) 0%, rgba(53, 44, 44, 0.674) 100%);
}
.header img {
    height: 80px;
    margin-left: 200px;
    background-color: rgba(255, 255, 255, 0.277);
    border-radius: 10%;    
}
.header ul {
    list-style: none;
    gap: 20px;
    @include d-flex-row();
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 75%;
 
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: rgb(255, 255, 255);
  background-color: rgba(127, 255, 212, 0.314);
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  padding: 4px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown_content {
  color: yellow;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown_content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown_content {
  display: block;
}