@import "./index.scss";

.storage {
    position: relative;
    top: -18vh;
    width: 99vw;
    height: 80vh;
    z-index: -1;
    opacity: 0.9;
}
.storageH1 {
    position: relative;
    display: block;
    width: 70%;
    justify-content: center;
    top: -50vh;
    margin: 0px auto 20px auto;
    font-size: 3rem;
    color: white;
    margin-bottom: 20px;
    text-shadow: 7px 0px 23px rgba(66, 68, 90, 1);
}
.storageH2 {
    position: relative;
    display: block;
    width: 70%;
    justify-content: center;
    top: -48vh;
    margin: 0px auto 40px auto;
    font-size: 2rem;
    color: white;
    text-shadow: 7px 0px 23px rgba(66, 68, 90, 1);

    margin-bottom: 20px;
}
.logo {
    position: relative;
    top: -52vh;
    transform: translateX(45vw);
    width: 150px;
    height: 100px;
    margin: 5px auto 20px auto;
    border-radius: 20%;
    @include box-shadow();
}
.box_flip {
position: absolute;
top: 70vh;
  width: 80vw;
  margin: 0 10vw;
  display: flex;
  justify-content: center
}

.box_flip .front {
  @include d-flex-row();
  line-height: 20vh;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #725d60;
  border: 1px solid;

}

.box_flip .item {
  float: left;
  cursor: pointer;
}

.box_flip .item .row_item {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.6s -webkit-transform;
  -moz-transition: 0.6s -moz-transform;
  -o-transition: 0.6s -o-transform;
  -ms-transition: 0.6s -o-transform;
  transition: 0.6s transform;
  position: relative;
}

.box_flip .item:hover .row_item {
  -webkit-transform: rotateY(.5turn);
  -moz-transform: rotateY(.5turn);
  -o-transform: rotateY(.5turn);
  -ms-transform: rotateY(.5turn);
  transform: rotateY(.5turn);
}

.box_flip .item .row_item>.back {
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(0.4) rotateY(0.5turn) translateZ(1px);
  -moz-transform: scale(0.4) rotateY(0.5turn) translateZ(1px);
  -o-transform: scale(0.4) rotateY(0.5turn) translateZ(1px);
  -ms-transform: scale(0.4) rotateY(0.5turn) translateZ(1px);
  transform: scale(0.4) rotateY(0.5turn) translateZ(1px);
  -webkit-transition: 0.4s .075s opacity, 0.2s -webkit-transform;
  -moz-transition: 0.4s .075s opacity, 0.2s -moz-transform;
  -o-transition: 0.4s .075s opacity, 0.2s -o-transform;
  -ms-transition: 0.4s .075s opacity, 0.2s -ms-transform;
  transition: 0.4s .075s opacity, 0.2s transform;
  display: block;
}

.box_flip .item .row_item>.back {
  display: none\9;
}

.box_flip .item:hover .row_item>.back {
  overflow: visible;
  opacity: 1;
  -webkit-transform: scale(1) rotateY(0.5turn) translateZ(1px);
  -moz-transform: scale(1) rotateY(0.5turn) translateZ(1px);
  -o-transform: scale(1) rotateY(0.5turn) translateZ(1px);
  -ms-transform: scale(1) rotateY(0.5turn) translateZ(1px);
  transform: scale(1) rotateY(0.5turn) translateZ(1px);
}

.box_flip .item:hover .row_item>.back {
  display: block\9;
}

.box_flip .item {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
  overflow: visible;
}

.box_flip div.back {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #a0e3fb;
  z-index: 2;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
  text-align: center;
  border-radius: 5px;
}


.box_flip .box_a {
  width: 15vw;
  height: 20vh;
  margin-right: 25px;

}

.box_flip .box_a .back {
  width: 15vw;
  height: 20vh;
  background-size: cover;
}

.box_flip .box_b {
  width: 15vw;
  height: 20vh;
  margin-right: 25px;
}

.box_flip .box_b .back {
  width: 15vw;
  height: 20vh;
}

.box_flip .box_c {
  width: 15vw;
  height: 20vh;
  margin-right: 25px;
}

.box_flip .box_c .back {
  width: 15vw;
  height: 20vh;
  object-fit: contain;
}
.back img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.box_flip .box_d {
  width: 15vw;
  height: 20vh;
  margin-right: 25px;
}

.box_flip .box_d .back {
  width: 15vw;
  height: 20vh;
}

.box_flip .box_e {
  width: 15vw;
  height: 20vh;
}

.box_flip .box_e .back {
  width: 15vw;
  height: 20vh;
}
//Logo company section
.container {
  overflow: hidden;
}
.LogoCompany {
    position: relative;
    width: 200vw;
    height: 20vh;
    margin: 0px auto 20px auto;
    @include d-flex-row();
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    overflow: hidden;
}
.logo_Container {
    display: flex;
    white-space: nowrap;
    flex-wrap: wrap;
    width: 20vw;
    height: 120px;;
    @include box-shadow();
    border-radius: 10px;
    background-color: white;
    animation: float 40s linear infinite;
}
.LogoCompany + .LogoCompany .logo_Container{
    animation: float 60s linear infinite;
}
.logo_img {
    flex-shrink: 0;
    position: absolute;
    padding: 2px 2px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes float {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50vw);
    }
    100% {
        transform: translateX(-100vw);
    }
}