@import "./index.scss";

.storage {
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover; // Kluczowe: wypełnia ekran bez rozciągania
        object-position: center; // Centruje zdjęcie
        opacity: 0.9;
    }
}
.storageH1 {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    top: -85vh;
    margin: 0px auto 20px auto;
    font-size: 3rem;
    color: #ff0040;
    text-shadow: 0px 3px 0px rgb(11 0 0);
    margin-bottom: 20px;
}
.storageH2 {
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
    top: -80vh;
    margin: 0px auto 40px auto;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #ff0040;
    text-shadow: 0px 3px 0px rgb(11 0 0);
}
.logo {
    position: relative;
    top: -75vh;
    transform: translateX(44vw);
    width: 12vw;
    height: 100px;
    margin: 5px auto 20px auto;
    border-radius: 20%;
    box-shadow: 7px 0px 23px rgb(0, 0, 0);
}
.buttonWrapper {
    position: relative;
    top: -75vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 2rem;
    z-index: 10;
    position: relative;
}

.contactBtn {
    background-color: #ff2d08; // Przykładowy kolor (np. pomarańczowy/złoty)
    color: white;
    padding: 15px 40px;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
    text-transform: uppercase;

    &:hover {
        background-color: gold;
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.98);
    }
}
.box_flip {
position: absolute;
top: 70vh;
  width: 80vw;
  margin: 0 10vw;
  display: flex;
  justify-content: space-evenly;
}

.box_flip .front {
  @include d-flex-row();
  flex-wrap: wrap;
  height: 20vh;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  font-family: Helvetica, Arial, Verdana, sans-serif;
  color: #ffffff;
  border: 3px solid;
  border-radius: 15px;
  background-color: #1c1a1a6f;
  box-shadow: 7px 0px 23px rgba(249, 248, 248, 0.758);
}
.front img {
  height: 100px;
  width: 100%;
}

.box_flip .item {
  float: left;
  cursor: pointer;
}

.box_flip .item .row_item {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: 0.6s -webkit-transform;
  -moz-transition: 0.6s -moz-transform;
  -o-transition: 0.6s -o-transform;
  -ms-transition: 0.6s -o-transform;
  transition: 0.6s transform;
  position: relative;
}

.box_flip .item:hover .row_item {
  -webkit-transform: rotateY(.5turn);
  -moz-transform: rotateY(.5turn);
  -o-transform: rotateY(.5turn);
  -ms-transform: rotateY(.5turn);
  transform: rotateY(.5turn);
}

.box_flip .item .row_item>.back {
  overflow: hidden;
  opacity: 0;
  -webkit-transform: scale(0.4) rotateY(0.5turn) translateZ(1px);
  -moz-transform: scale(0.4) rotateY(0.5turn) translateZ(1px);
  -o-transform: scale(0.4) rotateY(0.5turn) translateZ(1px);
  -ms-transform: scale(0.4) rotateY(0.5turn) translateZ(1px);
  transform: scale(0.4) rotateY(0.5turn) translateZ(1px);
  -webkit-transition: 0.4s .075s opacity, 0.2s -webkit-transform;
  -moz-transition: 0.4s .075s opacity, 0.2s -moz-transform;
  -o-transition: 0.4s .075s opacity, 0.2s -o-transform;
  -ms-transition: 0.4s .075s opacity, 0.2s -ms-transform;
  transition: 0.4s .075s opacity, 0.2s transform;
  display: block;
}

.box_flip .item .row_item>.back {
  display: none\9;
}

.box_flip .item:hover .row_item>.back {
  overflow: visible;
  opacity: 1;
  -webkit-transform: scale(1) rotateY(0.5turn) translateZ(1px);
  -moz-transform: scale(1) rotateY(0.5turn) translateZ(1px);
  -o-transform: scale(1) rotateY(0.5turn) translateZ(1px);
  -ms-transform: scale(1) rotateY(0.5turn) translateZ(1px);
  transform: scale(1) rotateY(0.5turn) translateZ(1px);
}

.box_flip .item:hover .row_item>.back {
  display: block\9;
}

.box_flip .item {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  -ms-perspective: 1200px;
  perspective: 1200px;
  overflow: visible;
}

.box_flip div.back {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #a0e3fb;
  z-index: 2;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.8);
  text-align: center;
  border-radius: 5px;
}
.box_flip div.back img {
  object-fit: fill;
}


.box_flip .box_a {
  width: 15vw;
  height: 20vh;
  margin-right: 25px;

}

.box_flip .box_a .back {
  width: 15vw;
  height: 20vh;
  background-size: cover;
}

.box_flip .box_b {
  width: 15vw;
  height: 20vh;
  margin-right: 25px;
}

.box_flip .box_b .back {
  width: 15vw;
  height: 20vh;
}

.box_flip .box_c {
  width: 15vw;
  height: 20vh;
  margin-right: 25px;
}

.box_flip .box_c .back {
  width: 15vw;
  height: 20vh;
  object-fit: contain;
}
.back img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.box_flip .box_d {
  width: 15vw;
  height: 20vh;
  margin-right: 25px;
}

.box_flip .box_d .back {
  width: 15vw;
  height: 20vh;
}

.box_flip .box_e {
  width: 15vw;
  height: 20vh;
}

.box_flip .box_e .back {
  width: 15vw;
  height: 20vh;
}
.item {
    position: relative; // Konieczne dla pozycjonowania overlay
    cursor: pointer;
    overflow: hidden;
}

.descriptionOverlay {
    position: absolute;
    top: 0;
    left: -7px;
    width: 105%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); // Ciemne tło
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
    z-index: 10;
    animation: fadeIn 0.3s ease-in-out;

    p {
        font-size: 1.1rem;
        margin-bottom: 10px;
    }

    span {
        font-size: 0.8rem;
        opacity: 0.7;
        font-style: italic;
    }
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}
//Logo company section
.container {
  position: relative;
  top: -260px;
  overflow: hidden;
}
.LogoCompany {
    position: relative;
    width: 200vw;
    height: 20vh;
    margin: 0px auto 20px auto;
    @include d-flex-row();
    justify-content: space-around;
    align-items: center;
    gap: 60px;
    overflow: hidden;
}
.logo_Container {
    display: flex;
    // white-space: nowrap;
    flex-wrap: wrap;
    width: 20vw;
    height: 120px;;
    @include box-shadow();
    border-radius: 10px;
    background-color: white;
    animation: float 40s linear infinite;
}
.LogoCompany + .LogoCompany .logo_Container{
    animation: float 60s linear infinite;
}
.logo_img {
    flex-shrink: 0;
    position: absolute;
    padding: 2px 2px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@keyframes float {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-50vw);
    }
    100% {
        transform: translateX(-100vw);
    }
}
@media (max-width: 1024px) {
    .storageH1 {
        font-size: 2.2rem;
        margin-top: 100px; /* Miejsce pod fixed headerem */
    }
    .storageH2 {
        font-size: 1.5rem;
    }
    .buttonWrapper {
        top: -80vh;
    }
}
@media (max-width: 768px) {
  .storageH1, .storageH2 {
    color: #ff0040;
    text-shadow: 0px 3px 0px rgb(11 0 0);
  }    
  .logo {
      position: relative;
      top: -78vh;
      transform: translateX(35vw);
      width: 30vw;
      height: 100px;
      margin: 5px auto 20px auto;
  }
        .box_flip {
        position: absolute;
        top: 105vh;
        left: 5vw;
        display: grid;
        grid-template-columns: 1fr 1fr; /* 2 kolumny na tabletach */
        gap: 20px;
        width: 90vw;
        margin: 0 auto;
    }
    .box_flip span {
      color: #000;
    }
    .container {
        top: 20vh;
        margin-top: 80px;
    }
    .LogoCompany {
        height: 12vh;
        gap: 25px;
    }
    .logo_Container {
        width: 40vw;
        height: 60px;
    }
    .box_flip .box_a, 
    .box_flip .box_b, 
    .box_flip .box_c, 
    .box_flip .box_d, 
    .box_flip .box_e {
        width: 100%; /* Karty zajmują całą dostępną kolumnę */
        height: 180px;
        margin-right: 0;
    }

    .box_flip .box_a .back,
    .box_flip .box_b .back,
    .box_flip .box_c .back,
    .box_flip .box_d .back,
    .box_flip .box_e .back {
        width: 100%;
        height: 100%;
    }
    .descriptionOverlay {
        p {
            font-size: 0.9rem;
            padding: 5px;
        }
        span {
            font-size: 0.7rem;
        }
}}

@media (max-width: 480px) {
    .box_flip {
        grid-template-columns: 1fr; /* 1 kolumna na telefonach */
    }
    .storageH1 {
        font-size: 1.8rem;
    }
    .container {
        top: 55vh;

}
}